input[type="text"] {
  outline: none !important;
  border: 2px solid #aad8d3;
  border-radius: 4px;
  width: 300px;
  height: 30px;
  font-weight: 300;
  font-style: italic;
  padding-left: 10px;
}

input[type="text"],
textarea {
  background-color: #eeeeee;
}
